
.cardList {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  margin: 0.5rem;
  padding: 0.5rem;
  width: 20rem;
  height: 15rem;
}

.quote {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  margin-bottom: 10px;
}

.author {
  font-size: 13px;
  font-style: italic;
  margin-bottom: 20px;
}